
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans , sans-serif;
}

body{
    height: 100vh;
    


}

li{
    list-style: none;
    border-right-style: solid;
    border-color:slategrey;
    padding-right: 2px;
    
}
a{
    text-decoration: none;
    color: #c7f9cc;
    font-size: 1rem;
    font-weight: bolder;
   
}
a:hover{

    color: #38a3a5;
   
}
/* header*/

header{
    position: sticky;
    top: 0px;
    padding: 0 2rem;
    background-image: url(https://images.unsplash.com/photo-1575980202155-18b6c1e49169?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #14080E;
    
}

.navbar{
    width: 100%;
    height: 125px;    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    
}

.navbar .logo{
    gap: 2px;
    display: flex;
}
.navbar .logo img{
    width: 70px;   
    padding-top: 1.5rem;
}


.navbar .logo a{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;    
    padding-top: 2.5rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 20px;
    
        
}


.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    
}

.action_btn{
    background: #E6AA68;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
scale: 1.05;
color: #EEE5E9;
}

.action_btn:active{
scale: 0.95;
}

/*Main Index*/
@font-face {
    font-family: Fuente Titulo;
    src: url(../fonts/OpenSans_Condensed-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: parrafo;
    src: url(../fonts/LTBinaryNeue.ttf);
}
main{
    background-image: url(../image/background\ main.jpg);
    background-size: cover;   
    background-position: center;
    background-attachment: fixed;
}
.titulo {
   display: flex;
   justify-content: center;
   align-items: first baseline;
   
}
.titulo img{
    width: 100px;
}
.titulo h1{
    font-size: 5rem;
    
}
.marine{
    color: aqua;
    font-family: 'Comfortaa', sans-serif; 
}
.life{
    color: #c7f9cc;
    font-family: Fuente Titulo;
}
.presentacion{
    display: grid;
    grid-template-areas: 
    "titulo foto"
    "texto foto"
    ;
    justify-content: space-between;
}
.presentacion h2{
    grid-area: titulo;
    text-align: center;
    font-size: 3rem;
    border-bottom-style:double ;
}
.presentacion p{
    grid-area: texto;
    margin: 5px;
    font-family: parrafo;
}
.presentacion img{
    grid-area: foto;
    border-radius: 2vh;
}
.agua_dulce{
    display: grid;
    grid-template-areas: 
    "foto1 titulo1"
    "foto1 texto1" 
    ;
}
.agua_dulce img{
    grid-area: foto1;
}
.agua_dulce h2{
    grid-area: titulo1;
    text-align: center;
    font-size: 3rem;
    border-bottom-style: double;
    align-self: center;
}
.agua_dulce p{
    grid-area: texto1;
    text-align: center;
    font-family: parrafo;
}
.marinos{
    display: grid;
    grid-template-areas: 
    "titulo2 foto2"
    "texto2 foto2"
    ;
    border-top-style:ridge
}
.marinos h2{
    text-align: center;
    grid-area: titulo2;
    border-bottom-style: double;
    align-self: center;
    font-size: 3rem;
}
.marinos p{
    grid-area: texto2;
    font-family: parrafo;

}
.marinos img{
    grid-area: foto2;
    width: 500px;
}
/*Dropdown Menu*/

.dropdown_menu{
    display: none;
    background-image: url(https://images.unsplash.com/photo-1575980202155-18b6c1e49169?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.dropdown_menu a{

    color: #14080E;
    font-weight: bold;
}

.dropdown_menu .action_btn{
    width: 100%;
    display:flex;
    justify-content: center;
}
/*Galeria de fotos*/
.main_galeria{
    display: flex;
    justify-content: center;
}
.galeria{
    display: flex;
    width: 600px;
    height: 430px;
 
}
.galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 5s ease;
}
.galeria img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
/*resposive designs*/
@media (max-width: 992px){

    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }

}
